@import "~normalize.css/normalize.css";

@import "./fonts.scss";

@import "./sidebar.scss";
@import "./player.scss";
@import "./vol.scss";

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
  position: relative;
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
}

::selection {
  background: transparent;
}

#app {
  height: 100%;
}

.font-hei {
  @include font-hei;
}

.font-kai {
  @include font-kai;
}

.font-song {
  @include font-song;
}

.font-fang-song {
  @include font-fang-song;
}

.number {
  @include font-hei;

  font-weight: 400;

  svg {
    position: relative;
    top: 2px;
  }
}
